<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-7 offset-2">
     <body>
        <br>
           <h3><i class="fa-solid fa-house-user"></i> &nbsp;Create a new listing</h3>
          <form method="POST" action="/listings" class="needs-validation"   novalidate enctype="multipart/form-data">
           <div class="mb-3">
              <label for="title" class="form-label">Title</label>

              <input name="listing[title]" placeholder="Enter Catchy Title" type="text" class="form-control" required>
              <div class="valid-feedback">Looks good</div>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="listing[description]" placeholder="Enter Description" type="text" class="form-control" required></textarea>
               <div class="invalid-feedback">Please Enter a short Description</div>
            </div>

            <!-- <div class="mb-3"> 
              <label for="image" class="form-label">Image Link</label>
              <input name="listing[image][url]" placeholder="Enter Image URL/Link" type="text" class="form-control" required>
              <div class="invalid-feedback">upload image</div>
            </div> -->
           <div class="mb-3"> 
              <label for="image" class="form-label">Upload Image</label>
              <input name="listing[image]" type="file" class="form-control" required>
              <div class="invalid-feedback">upload image</div>
            </div>

            <div class="row">
                   <div class="mb-3 col-md-4">
                     <label for="price" class="form-label">Price</label>
                     <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
                     <div class="invalid-feedback">Price Should be valid</div>
                   </div>
           
                   <div class="mb-3 col-md-8">
                     <label for="location" class="form-label">Location</label>
                     <input name="listing[location]" placeholder="Goa,beach" type="text" class="form-control" required>
                     <div class="invalid-feedback">location should be valid</div>
                   </div>
            </div>
       
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
              <div class="invalid-feedback">Country should be valid</div>
            </div>
            <button class="btn btn-dark btn-new">Add</button>
            <br><br>
         </form>
     </body>
  </div>
</div>