/* Image */
.show-img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

/* Map */
#map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  #map {
    height: 400px;
  }
}

/* Star Rating Input */
.star-rating {
  direction: rtl;
  display: inline-flex;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
  transition: 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}


p{
    margin-left: 1rem !important;
}
.text-success {
    margin-left: .5rem;
}
button:not(:disabled) {
   
    margin-left: 1rem;
    margin-bottom: .7rem;
}