body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: rgb(255, 255, 255);
}
.fa-airbnb{
    color:#fe424d;
    font-size: 2rem;
}
.background-shade{
    color: #222222 !important; 
     height: 2.6rem !important;
    width: 12rem !important;
    border-radius: 2rem;
    text-align: center !important;
  
    
   
}
.textStyle a{
    padding-bottom: 2rem !important;
}

.textStyle{
    font-size: 1.4rem!important;
    font-weight: 600 !important;
    height: 3.33rem !important;
    width: 9rem !important;
    border-radius: 2rem;
    text-align: center !important;
    
}
.textStyle:hover,
.background-shade:hover{
    background-color: #f1f3f5;

}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    
}
.f-info-links a:hover{
    text-decoration:underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.3rem;
}
.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
/* card */
.listing-card{
    height: 95%;
    width: 95%;
    border: none !important;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
}


.listing-card:hover{
       transform: scale(1.02) translateY(0px);
      
}
.card-body{
    padding: 0 !important;
    
}


.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 18rem !important;
    padding: .3rem;
}
@media (max-width: 576px) {
    .card-img-top {
        height: 14rem !important;
    }
    .listing-card{
        margin-bottom: .7rem !important;
    
    }

}


    
   
    
    


  
    .card-text{
    text-decoration: none  !important;
}

.card-text p{
  font-weight: bolder !important;
  
}
.listing-link{
    text-decoration: none !important;
}

/* card effects */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
.heart-icon{
    font-size: 2rem;
}
/* newpage */
.btn-new{
     background-color:#fe424d !important;
     border: none !important;
}

/* show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

.bottom{
   
  display: flex;
  justify-content: space-between; /* left & right */
  align-items: flex-end;
 
}
.bottom p {
  margin-bottom: 0 !important;                      /* remove Bootstrap margin effect */
  line-height: 4;                 /* equal text height */
}


.edit-img {
  width: 300px;     /* size chhota karne ke liye */
  height: auto;     /* image stretch nahi hogi */
  object-fit: cover;
  border-radius: 8px;
}

/* code for map styling */
#map { 
    height: 400px;
    width: 100%;
}


 /* .tax-toogle{
    border: 1px solid #ddd;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 10px;
     margin-left: auto;
} */

.tax-toogle {
    border: 1px solid #ddd;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: #fff;
    margin-left: auto;
    white-space: nowrap;   /* prevents text breaking */
    flex-shrink: 0;        /* prevents collapsing */
    transition: all 0.3s ease;
}

.tax-toogle:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


@media (max-width: 576px) {
    #filters {
        flex-wrap: wrap;
    }

    .tax-toogle {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin-top: 1rem;
    }
}




/* Bigger switch */
.form-switch .form-check-input {
    width: 45px;
    height: 22px;
    cursor: pointer;
}

/* Airbnb red when ON */
.form-check-input:checked {
    background-color: #ff385c;
    border-color: #ff385c;
}

/* Smooth transition */
.form-check-input {
    transition: all 0.3s ease;
}


.search-input {
    height: 45px;
    min-width: 320px;   /* shows full placeholder */
    font-size: 0.95rem;
    border: 0.001rem solid black !important;
}

@media (max-width: 768px) {
    .search-input {
        min-width: 100%;
    }
}


.btn-search i{
    display: inline !important;
}



/* this is coding for navbar.ejs responsive */

  .search-form {
      width: 50%;
      max-width: 500px;
    }

    @media (max-width: 768px) {
      .search-form {
        width: 65%;
      }
    }


    /* Default (Mobile) */
.offcanvas {
  width: 75% !important;
  height: 70% !important;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  background-image: linear-gradient(to top left, slateblue, rgba(253, 165, 120 ,0.896), tomato);
  
}

/* Desktop */
@media (min-width: 992px) {
  .offcanvas {
    width: 350px !important;
    height: 100% !important;
    background-image: linear-gradient(to top left, slateblue, rgba(253, 165, 120, 0.896), tomato);
  }
}
.text-decoration-none {
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
  padding: 15px 15px;
  border-radius: 10px;
  color: #222;
   transition: all 0.3s ease;
}

.text-decoration-none:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) translateY(-5px);;
}